@import url(normalize.css);
@font-face {
  font-family: 'FranchiseRegular';
  src: url("https://d12gd74eaa9d1v.cloudfront.net/franchise-bold-webfont.eot");
  src: url("https://d12gd74eaa9d1v.cloudfront.net/franchise-bold-webfont.woff") format("woff"), url("https://d12gd74eaa9d1v.cloudfront.net/franchise-bold-webfont.ttf") format("truetype"), url("https://d12gd74eaa9d1v.cloudfront.net/franchise-bold-webfont.svg#webfontpJ3jCjex") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  background-color: #F9F9F9;
  font-family: 'Lato', sans-serif;
  font-size: 14pt; }
  html.ready {
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out; }
  html.drag-hover {
    background-color: #d8d8d8; }
  html.error {
    background-color: #ffd6da; }
  html.uploading {
    background-color: #e3f3ff; }

.content {
  width: 520px;
  margin: 0 auto;
  position: relative; }

.uploader {
  width: 100%;
  margin-top: 30px; }
  .uploader #file_upload_button {
    position: absolute;
    right: 10px; }

.color-wrapper {
  padding: 15px;
  border: 2px dotted #4584BE;
  border-radius: 4px;
  background-color: rgba(17, 67, 251, 0.15); }

.inner-wrapper {
  position: relative;
  padding: 10px;
  border-radius: 3px; }

.logo-wrapper {
  height: 330px;
  width: 100%;
  position: relative; }

#logo {
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'FranchiseRegular', 'HelveticaNeue-Bold', 'League Gothic', 'Impact', sans-serif;
  font-size: 160px;
  color: #E36B23;
  margin: 0;
  display: block;
  position: absolute;
  text-align: justify;
  width: 100%;
  bottom: 0; }

#logo span {
  display: inline-block;
  position: relative;
  letter-spacing: -3px;
  -webkit-transition: all 0.2s ease-out; }

#logo .char_triangle {
  position: absolute;
  left: 5%;
  bottom: 103px;
  color: #4584BE;
  font-size: 148pt; }
  #logo .char_triangle:hover {
    bottom: 106px; }

#logo .char_circle {
  position: absolute;
  left: 41%;
  bottom: 34px;
  font-size: 228pt;
  color: #E6C92E; }
  #logo .char_circle:hover {
    bottom: 37px; }

#logo .char_square {
  position: absolute;
  left: 26%;
  bottom: 74px;
  font-size: 218pt;
  color: #E36B23; }
  #logo .char_square:hover {
    bottom: 72px; }

#logo .char2, #logo .char11 {
  color: #4584BE; }

#logo .char3, #logo .char10 {
  z-index: 10;
  color: #E6C92E; }

#logo .char4, #logo .char9 {
  color: #E36B23; }

#logo .char5, #logo .char8 {
  color: #E6C92E; }

#logo .char6, #logo .char7 {
  color: #4584BE; }

#logo .char1 {
  top: 0; }
  #logo .char1:hover {
    top: 3px; }

#logo .char0, #logo .char2, #logo .char5 {
  bottom: 0; }
  #logo .char0:hover, #logo .char2:hover, #logo .char5:hover {
    bottom: 3px; }

#logo .char3 {
  bottom: -1px; }
  #logo .char3:hover {
    bottom: 2px; }

#logo .char4 {
  top: 0; }
  #logo .char4:hover {
    top: -4px; }

#logo .char6 {
  top: 0; }
  #logo .char6:hover {
    top: -4px; }

#logo .char7 {
  top: 0; }
  #logo .char7:hover {
    top: 3px; }

#logo .char8 {
  top: 1px; }
  #logo .char8:hover {
    top: 3px; }

#logo .char9 {
  top: 0; }
  #logo .char9:hover {
    top: 3px; }

#logo .char10 {
  top: 0; }
  #logo .char10:hover {
    top: 3px; }

#logo .char11 {
  top: 2px; }
  #logo .char11:hover {
    top: 0; }

#logo .char12 {
  left: -24px; }
  #logo .char12:hover {
    top: 3px; }

.description, .drag-message {
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out; }

.description.drag-hover {
  opacity: 0; }

.drag-message {
  opacity: 0;
  text-align: center; }

.drag-message.drag-hover {
  opacity: 1; }
